.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

/*
 * Globals
 */
/* Custom default button */
.btn-secondary {
  background-color: #721cff; }

.btn-secondary:hover {
  color: #721cff;
  background-color: floralwhite;
  border-style: solid;
  border-width: 3px;
  border-color: #721cff !important; }

.btn-secondary:focus {
  text-shadow: none;
  /* Prevent inheritance from `body` */ }

/*
 * Base structure
 */
body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif; }

.cover-container {
  max-width: 90%;
  height: 100%; }

.bg-dark {
  background-color: black !important; }

/*
 * Header
 */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff; }

.contenedorPicker {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  width: 100%;
  justify-content: center; }

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  border-style: solid;
  border-width: 3px;
  border-color: #bdbdbd !important; }

.cardContenedor {
  display: flex;
  flex-direction: row; }

.cardImager, .cardTexter {
  width: 50%; }

.cardCompatibilizer {
  display: flex;
  flex-direction: column; }

.cardsCompatibles {
  display: flex;
  flex-direction: row; }

.lead {
  color: #bdbdbd; }

.spacer2 {
  padding-top: 30px;
  padding-bottom: 50px; }

.spacer {
  padding-top: 50px;
  padding-bottom: 50px; }

.contenedorSigno {
  visibility: hidden; }

.imgSigno {
  visibility: hidden; }

.card-title {
  font-weight: bold; }

.form-control {
  width: 30%; }

.boton {
  width: 20%; }

.botonup {
  width: 5%;
  background-color: #721cff;
  position: fixed;
  bottom: 5px;
  right: 10px; }

.botonup:hover {
  color: #721cff;
  background-color: floralwhite;
  border-style: solid;
  border-width: 3px;
  border-color: #721cff; }

.botonup:focus {
  text-shadow: none;
  color: #721cff;
  background-color: floralwhite;
  border-style: solid;
  border-width: 3px;
  border-color: #721cff; }
